// contacts
.contacts-header {
    @extend %list;

    @media screen and (min-width: 768px) {
        margin-left: auto;
    }
    

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: auto;

        &__item:last-child {
            margin-left: 50px;
        }
    }

    &__icon {
        margin-right: 10px;
        fill: currentColor;
    }
    

    &__link {
        @extend %link;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $primary-textColor;
        @include transform ();
        // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover, 
        &:focus{
        color: $accentColor;
        }
    }
}




