// header
.header-section {
    border-bottom: 1px solid $borderHeader;
    height: 60px;

    @media screen and (min-width: 768px) {
        height: 80px; 
    }
}

.header {
    display: flex;
    align-items: center;
}