// hero section
.hero {
    max-width: 1600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;   
    background-color: $mainBackground;

    &__title {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        max-width: 696px;
        text-transform: uppercase;
        color: $white;
    }
}
.overlay {
    
    margin-left: auto;
    margin-right: auto;
    
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bghero.jpg");  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

