/*team section*/
.team-section {
    background-color: $secondaryBackground;

    &__title {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: $title-textColor;
    }
}

.team {
    @extend %list;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team-member {
    @extend %list;
    max-width: 270px;
    height: auto;
    background: $white;
/* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &__foto{
        margin-bottom: 30px;
    }
    &__name {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: $title-textColor;
    }
    &__position {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
    }
}
