$primary-textColor: #757575;
$title-textColor: #212121;
$accentColor: #2196F3;

$white: #FFFFFF;
$black: #000000;

$mainBackground: #2F303A;
$secondaryBackground: #F5F4FA;

$portfolio-projectBorder: #EEEEEE;
$hero-buttonFokus: #188CE8;
$borderHeader: #ECECEC;
$svgColor: #AFB1B8;